<launch>

  <include file="$(find odombase)/launch/odom.launch" />   
  <!-- include file="$(find lpms_imu)/launch/imu.launch" / --> 
  <include file="$(find sick_tim)/launch/sick_tim.launch" />
  <include file="/home/ros/catkin_ws/launch/gmapping.launch" />    
 
  <node pkg="tf" type="static_transform_publisher" name="laser" args="0.165 0 0 0 0 0 base_link laser 30" />


 
  <!-- move_base_flex -->
  <include file="/home/ros/catkin_ws/launch/move_base.launch">

 
  <!-- node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/ -->
  </include>
 
</launch>
    
