<launch>

   
  <include file="$(find odombase)/launch/odom.launch" />        
  <!-- include file="$(find odombase)/launch/odom_joy.launch" / -->  

  <!-- include file="$(find lpms_imu)/launch/imu.launch" / --> 

  <include file="$(find sick_tim)/launch/sick_tim.launch" />

  <arg name="map_file" default="/home/ros/catkin_ws/maps/313.yaml"/>  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="/home/ros/catkin_ws/launch/amcl.launch"/>  
  
  <node pkg="tf" type="static_transform_publisher" name="laser" args="0.165 0 0 0 0 0 base_link laser 30" />
  
  <!-- node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/ -->
 
 </launch>
    
